.footer {
    background: linear-gradient(to top left, #87a3f5, #3b83f8);
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9rem;
  }
  
  .footer p {
    margin: 0;
    font-weight: 500;
  }
  
  .footer p:hover {
    color: #f8e71c; /* Subtle yellow hover effect for text */
  }
  