.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #ccd7f7, #5290f6);
    /* color: white; */
    padding: 18px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .logo {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    margin-top: 5px;
    border-radius: 7px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  p {
    font-size: 1rem;
    margin-top: 5px;
    font-style: italic;
    opacity: 0.9;
  }
  